<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IHMS - تسجيل الدخول</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body class="loginBody">

    <div class="login-card text-center">
        <h2 class="mb-4 fw-bold text-primary">IHMS</h2>
        <p class="text-muted mb-4">مرحباً بك في نظام إدارة الرعاية الصحية
            المتكامل</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show p-2 small" role="alert">
            {{ message }}
            <button type="button" class="btn-close shadow-none" style="font-size: 0.5rem;" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <!-- اختيار نوع المستخدم (Dropdown) -->
            <div class="mb-3">
                <label class="form-label d-block text-end small">نوع الحساب</label>
                <select class="form-select" id="userRole" name="role" onchange="toggleRegisterButton()">
                    <option value="patient" selected>مريض (Patient)</option>
                    <option value="admin">مسؤول (Admin)</option>
                </select>
            </div>

            <!-- اسم المستخدم -->
            <div class="mb-3 text-end">
                <label class="form-label small">اسم المستخدم أو البريد</label>
                <input type="text" name="username" class="form-control" placeholder="أدخل بياناتك..." required>
            </div>

            <!-- كلمة المرور -->
            <div class="mb-4 text-end">
                <label class="form-label small">كلمة المرور</label>
                <input type="password" name="password" class="form-control" placeholder="********" required>
            </div>

            <!-- زر الدخول -->
            <button type="submit" class="btn btn-dark w-100 py-2 mb-3">تسجيل الدخول</button>
        </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>